In [1]:
import pandas as pd
import re

In [2]:
#mengambil data 
data = pd.read_csv("F:/Catatan Materi/Semester 7/DAMI_PD/Projek/Dataset/FIX/BigML.csv")

In [3]:
data[:10]

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,products
0,1,112108,4,4,10,9.0,Bulgarian Yogurt|Organic 4% Milk Fat Whole Mil...
1,2,202279,3,5,9,8.0,Organic Egg Whites|Michigan Organic Kale|Garli...
2,3,205970,16,5,17,12.0,Total 2% with Strawberry Lowfat Greek Strained...
3,4,178520,36,1,9,7.0,Plain Pre-Sliced Bagels|Honey/Lemon Cough Drop...
4,5,156122,42,6,16,9.0,"Bag of Organic Bananas|Just Crisp, Parmesan|Fr..."
5,6,22352,4,1,12,30.0,Cleanse|Dryer Sheets Geranium Scent|Clean Day ...
6,7,142903,11,2,14,30.0,Orange Juice|Pineapple Chunks
7,8,3107,5,4,6,17.0,Original Hawaiian Sweet Rolls
8,9,139016,14,0,19,5.0,"Organic Red Radish, Bunch|Whole White Mushroom..."
9,10,135442,4,6,8,8.0,Banana|Baby Portabella Mushrooms|Organic Cilan...

In [4]:
#melihat tipe atribut
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3346083 entries, 0 to 3346082
Data columns (total 7 columns):
order_id                  int64
user_id                   int64
order_number              int64
order_dow                 int64
order_hour_of_day         int64
days_since_prior_order    float64
products                  object
dtypes: float64(1), int64(5), object(1)
memory usage: 178.7+ MB

In [5]:
data.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.346083e+06,3.346083e+06,3.346083e+06,3.346083e+06,3.346083e+06,3.139874e+06
mean,1.710561e+06,1.029778e+05,1.716804e+01,2.776053e+00,1.344887e+01,1.097229e+01
std,9.875758e+05,5.953534e+04,1.775659e+01,2.044998e+00,4.226137e+00,9.121475e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552595e+05,5.139100e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710552e+06,1.026750e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565877e+06,1.543870e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [6]:
#cek data value yang null berdasarkan kolom
for col in data.columns:
    print(col, data[col].isnull().sum())

order_id 0
user_id 0
order_number 0
order_dow 0
order_hour_of_day 0
days_since_prior_order 206209
products 0